* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #043e42;
    font-family: "Helvetica", sans-serif;
  }
  
  .container {
    background-color: rgb(8, 62, 156);
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(223, 234, 103, 0.2);
    border-radius: 10px;
  }
  
  h1 {
    margin-top: 0;
    text-align: center;
  }
  
  input {
    padding: 10px;
    border: 1px solid #47034b;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
  }
  
  button {
    background-color: #4e30a1;
    color: rgb(5, 50, 61);
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #total {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  